<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common::head(#{label.platform})">
  </head>
  <body>
    <!-- top menu -->
    <div th:replace="common::top"></div>

    <!-- sidebar -->
    <div th:replace="common::sidebar"></div>

    <!-- main content -->
    <div class="main">
      <div class="container-fluid">
        <div class="row">
          <div class="top-right-command">
            <a th:href="@{/platform/form}">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> <span th:text="#{label.add}"></span>
              </button>
            </a>
          </div>

          <h3 class="sub-header" th:text="#{label.platform}"></h3>
        </div>

        <th:block th:each="pair : ${#strings.arraySplit(#strings.defaultString(#httpServletRequest.queryString, ''), '&amp;')}">
          <th:block th:if="${#strings.startsWith(pair, 'message=')}">
            <div class="row">
              <div id="message" th:class="'alert ' + ${#strings.startsWith(pair, 'message=success') ? 'alert-success' : 'alert-danger'}">
                <button class="close">&times;</button>
                <span th:if="${pair == 'message=success_remove'}" th:text="#{message.platform.successRemove}"></span>
                <span th:if="${pair == 'message=not_selected'}" th:text="#{message.platform.notSelected}"></span>
                <span th:if="${pair == 'message=not_exist'}" th:text="#{message.platform.notExist}"></span>
              </div>
            </div>
          </th:block>
        </th:block>

        <div class="row">
          <div class="table">
            <table id="listTable" class="table table-striped tablesorter">
              <thead>
                <tr>
                  <th th:text="#{label.platform.no}"></th>
                  <th th:text="#{label.platform.name}"></th>
                  <th th:text="#{label.platform.nameDisp}"></th>
                  <th th:text="#{label.platform.type}"></th>
                  <th th:text="#{label.platform.selectable}"></th>
                  <th th:text="#{label.platform.viewOrder}"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="platform : ${platforms}">
                  <td><a th:href="@{/platform/show(platformNo=${platform.platformNo})}" th:text="${platform.platformNo}"></a></td>
                  <td><a th:href="@{/platform/show(platformNo=${platform.platformNo})}" th:text="${platform.platformName}"></a></td>
                  <td th:text="${platform.platformNameDisp}"></td>
                  <td th:text="#{${'label.' + platform.platformType}}"></td>
                  <td th:text="#{${#bools.isTrue(platform.selectable) ? 'label.true' : 'label.false'}}"></td>
                  <td th:text="${platform.viewOrder}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- script -->
    <div th:replace="common::script"></div>
  </body>
</html>
