<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${title} + ' - ' + #{label.title}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
  </head>
  <body>
    <!-- top menu -->
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/index}" th:text="#{label.title}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span> <span th:text="${T(org.springframework.security.core.context.SecurityContextHolder).context.authentication.name}"></span></a></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> <span th:text="#{label.logout}"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- sidebar -->
    <div class="sidebar" th:fragment="sidebar">
      <ul class="nav nav-sidebar">
        <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/user') ? 'active' : ''}"><a th:href="@{/user}" th:text="#{label.user}"></a></li>
        <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/farm') ? 'active' : ''}"><a th:href="@{/farm}" th:text="#{label.farm}"></a></li>
        <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/instance') ? 'active' : ''}"><a th:href="@{/instance}" th:text="#{label.instance}"></a></li>
        <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/platform') ? 'active' : ''}"><a th:href="@{/platform}" th:text="#{label.platform}"></a></li>
        <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/image') ? 'active' : ''}"><a th:href="@{/image}" th:text="#{label.image}"></a></li>
        <li><hr/></li>
        <li th:class="${#strings.contains(#httpServletRequest.requestURI, '/password') ? 'active' : ''}"><a th:href="@{/password}" th:text="#{label.password}"></a></li>
      </ul>
    </div>

    <!-- script -->
    <div th:fragment="script">
      <script th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
      <script th:src="@{/webjars/ie10-viewport-bug-workaround/1.0.3/dist/ie10-viewport-bug-workaround.min.js}"></script>
      <script th:src="@{/js/common.js}"></script>
      <script type="text/javascript" th:inline="text">
        var app = {
          contextPath: "[[ @{/} ]]".slice(0, -1)
        };

        $.ajaxPrefilter(function(options) {
          if (options.url.startsWith("/")) {
            options.url = app.contextPath + options.url;
          }
        });
      </script>
    </div>
  </body>
</html>
