<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common::head(#{label.login})">
  </head>
  <body>
    <div class="form-login">
      <h3 class="sub-header" th:text="#{label.title}"></h3>

      <th:block th:each="pair : ${#strings.arraySplit(#strings.defaultString(#httpServletRequest.queryString, ''), '&amp;')}">
        <th:block th:if="${#strings.startsWith(pair, 'message=')}">
          <div class="row">
            <div id="message" th:class="'alert ' + ${#strings.startsWith(pair, 'message=success') ? 'alert-success' : 'alert-danger'}">
              <button class="close">&times;</button>
              <span th:if="${pair == 'message=login_failure'}" th:text="#{message.login.loginFailure}"></span>
            </div>
          </div>
        </th:block>
      </th:block>

      <form th:action="@{/login}" method="post">
        <!-- username -->
        <div class="form-group">
          <label class="control-label" th:text="#{label.login.username}"></label>
          <input type="text" class="form-control" name="username" th:placeholder="#{label.login.username}" required="required" autofocus="autofocus"/>
        </div>

        <!-- password -->
        <div class="form-group">
          <label class="control-label" th:text="#{label.login.password}"></label>
          <input type="password" class="form-control" name="password" th:placeholder="#{label.login.password}" required="required"/>
        </div>

        <button type="input" id="loginButton" class="btn btn-lg btn-primary btn-block" th:text="#{label.login}"></button>
      </form>
    </div>

    <!-- script -->
    <div th:replace="common::script"></div>
  </body>
</html>
